.sizefont {
	font-family: 'Open Sans' !important;
	font-size: 13px !important;
}

.upperbox {
	padding: 7px;
}

.lowerbox {
	display: block;
	background-color: #E4E9EE;
	width: 100%;
	height: 65px;
}

.custombuttonbox {
	line-height: 1px;
	margin: 12 13;
	padding: 10px 15px;
}

.ui-dialog-content{
	 padding : 0 !important;
}