.ui-widget-header {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	position: relative;
	min-height: 38px;
	background: #f7f7f7;
	background-image: -webkit-gradient(linear, left 0, left 100%, from(#fff),
		to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, 0%, #eee, 100%);
	background-image: -moz-linear-gradient(top, #fff 0, #eee 100%);
	background-image: linear-gradient(to bottom, #fff 0, #eee 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#ffeeeeee', GradientType=0);
	color: #669fc7;
	border: 1px solid #CCC;
	border-bottom: 1px solid #DDD;
	padding-left: 12px
}

.ui-widget-content {
	border: 1px solid #CCC;
	border-top: 0;
	background-color: #FFF
}

.no-pdmg {
	margin: 0px !important;
	padding: 0px !important;
	display: inline;
}

.ui-button-text-only .ui-button-text {
	padding: 0px;
}

.ui-message {
	display: inline-block;
}

.ui-datatable.borderless thead th, .ui-datatable.borderless tbody,
	.ui-datatable.borderless tbody tr, .ui-datatable.borderless tbody td {
	border-style: none;
}


.ui-state-error {
	background-color: #FFFFFF !important;
	border: none !important;
	color: #d68273;
	margin: 0px 0px 0px !important;
	/* padding: 6px 10px; */
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	font-size: 14px
}


/* Primeface Error Messages (Start) */

.ui-messages-error,.ui-message-error {
color:#d16e6c !important;
background-color:#FFFFFF !important;
border-color:#eed3d7;
}

.ui-message-info,.ui-message-error,.ui-message-warn,.ui-message-fatal {
border:none !important;
margin:0 5px;
padding:2px 5px;
}

.ui-message-error-icon{
background:none !important;
display:block;
float:left;
position:relative;
margin:0;
padding:0;
}

.ui-message-error-detail{
margin-left: -9px  !important;
}

.ui-outputlabel.ui-state-error {
	color: #d16e6c;
}

/* .ui-state-error, .ui-widget-content  .ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
} */

.ui-outputlabel.ui-state-error {
border: 0 none !important;
}

.ui-state-error {
border: 1px solid #f09784 !important;
}



.ui-datepicker-header{
	
	background: none!important;
	border: 0px!important;
}
.ui-datepicker td{
	
	background-color:#fff!important;
}
.ui-datepicker td .ui-state-default{
	
	background: none!important;
	background-image:none!important;
	text-shadow:none!important;
	border-radius:0px!important;
	box-shadow:none!important;
	border: 0px!important;
}
.ui-datepicker td .ui-state-default:hover{
	
	background:#ccc!important;
}
.ui-datepicker td .ui-state-highlight{
	
	background:#ccc!important;
	color:#000!important;
}
.ui-datepicker td .ui-state-active{
	
	background:#2283c5!important;
	
	
}
.ui-datatable thead th, .ui-datatable tfoot td
{
	text-align: left!important;
	font-family:'Open Sans'!important;
	font-size: 13px!important;
	color:#707070!important;
}
.ui-datatable  th, .ui-datatable  td
{
	
	font-family:'Open Sans'!important;
	font-size: 12px!important;
	color:#707070!important;
	
}
.mg-b-no{
	
	margin-bottom: 0px!important;
}
.mg-b-lg{
	
	margin-bottom: 18px!important;
}
.mg-b-md{
	
	margin-bottom: 10px!important;
}
.mg-b-sm{
	
	margin-bottom: 5px!important;
}
.mg-b-xsm{
	
	margin-bottom: 3px!important;
}
.ui-datatable-footer{
	
	background-color: #fff!important;
	border-bottom: 0px!important;
	border-radius:0px!important;
	background-image:  none!important;
	min-height:25px!important;
}

.hide-column-names table thead tr {
    display: none;
}


.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td{
	overflow:visible!important;
}
table.src {
 
margin-left: 15px;
position: relative;
overflow: auto;
margin-top:0px;
margin-right: 15px;
 
padding-top: 10px;
padding-bottom: 20px;
 
border-radius: 4px;
 
background:#DAE1F5;
 
}
.p30 {
padding: 10px;
background-color: #f7f7f7;
width: 100%;
}
.title, .alertHeading, .errPageTitle, .setup-heading {
/* font-family: "Open Sans light", sans-serif; */
/* font-size: 21px; */
font-size: 25px;
font-weight: bold;
color: #000;
line-height: 150%;
}
.gsTitle {
font-size: 16px;
width:100%;
height:50%;
background-color:#ffffff;
padding-bottom: 5px;
font-family: "Open Sans light", sans-serif;
}
.gsTitleDiv {
font-size: 15px;
 font-weight: bold;
 text-align:left;
text-shadow: 0 0 0.2em #8F7 ;
 
margin-left: 10px;
padding-bottom: 1px;
font-family: "Open Sans light", sans-serif;
}
.gsContent {
font-size: 15px;
color: #555;
padding-top: 1px;
padding-bottom: 5px;
}
.gserror {
font-size: 15px;
color: #CC0000;
padding-top: 1px;
padding-bottom: 5px;
}

.gsLink {
color: #3B5998;
font-size: 11px;
}
.selection tr {
   float: left;
    width: 33%;
} 
.panelNoBorder, .panelNoBorder tr, .panelNoBorder td{
border: hidden;
border-color: white;
}
#add
{
	width: 50%;
float: center;
 
margin-left: 250px;
position: relative;
overflow: auto;
margin-top: 10px;
padding-top: 10px;
padding-bottom: 20px;
box-shadow: 0px 0px 20px 3px #d3d3d3;
border-radius: 4px;
background-color:#ffffff;
}
#profilepic {
width:30%;
float: left;
 
margin-left: 10px;
position: relative;
overflow: auto;
margin-top:10px;
padding-top:0px;
padding-bottom: 20px;
 
background-color:#ffffff;
}
#myprofile {
width: 65%;
float: right;
margin-left: 10px;
margin-right: 15px;
margin-bottom: 15px;
position: relative;
overflow: auto;
margin-top: 10px;
padding-top:0px;
padding-bottom: 5px;
 
background-color:#ffffff;
}
#page {
width: 60%;
float: left;
 
margin-left: 10px;
position: relative;
overflow: auto;
margin-top:10px;
padding-top:0px;
padding-bottom: 20px;
box-shadow: 0px 0px 20px 3px #d3d3d3;
border-radius: 4px;
background-color:#ffffff;
}

#page1 {
width: 35%;
float: right;
margin-left: 10px;
margin-right: 15px;
margin-bottom: 15px;
position: relative;
overflow: auto;
margin-top: 10px;
padding-top:0px;
padding-bottom: 5px;
box-shadow: 0px 0px 20px 3px #d3d3d3;
border-radius: 4px;
background-color:#ffffff;
}
#page2 {
width: 40%;
float: right;
 
margin-left: 10px;
position: relative;
overflow: auto;
margin-top: 10px;
padding-top: 10px;
padding-bottom: 20px;
box-shadow: 0px 0px 20px 3px #d3d3d3;
border-radius: 4px;
background-color:#ffffff;
  
}
#page3 {
	 
margin-left: 15px;
position: relative;
overflow: auto;
margin-top:0px;
margin-right: 15px;
margin-bottom: 15px;
padding-top: 10px;
padding-bottom: 20px;
box-shadow: 0px 0px 20px 3px #d3d3d3;
border-radius: 4px;
background-color: #ffffff;
}
.yourStyleClass  span {
    background-position: left center;
    background-repeat: no-repeat;
    margin-left: 6px;
    width:70px;
    height:25px;
}
 
#page33 {
margin-left: 15px;
position: relative;
overflow: auto;
margin-top: 10px;
margin-right: 15px;
margin-bottom: 15px;
padding-top: 10px;
padding-bottom: 20px;
 
border-radius: 4px;
background-color:#b03060;
}
#vertical-line {
display: inline;
background-color: #000;
width: 1px;
height: 100%;
}
.ui-selectonemenu .ui-selectonemenu-trigger {
border-radius: 10px 0;
    
		 
		  
}
.ui-inputfield {
margin: 0;
font:size:1em;
outline: medium none;
padding: 3px;
width: 175px;
box-sizing: border-box;
font-weight: normal;
}


 

#main {
width: 170px;
float: left;
padding: 7px;
padding-top: 0px;
overflow: hidden;
}
#leftcolumn {
width: 822px;
float: left;
margin-right: 4px;
margin-left: 10px;
}
div {
display: block;
}
form .but {
	display: inline-block;
	background-color: #ccc;
	color:#ffffff;
	padding: 10px 20px;
	text-decoration: none;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	border: 1px;
}


 